/* Hero Container */
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.hero_parent {
  height: 100vh;
  /* position: relative; */
  left: 0;
  right: 0;
  background: rgb(98, 4, 250);
  background: linear-gradient(
    140deg,
    rgba(98, 4, 250, 1) 14%,
    rgba(253, 29, 29, 1) 62%,
    rgba(252, 176, 69, 1) 99%
  );
  margin: auto;
  display: flex;
  margin-top: -62px;
  justify-content: center;
  align-items: center;
}

.hero_container{
    /* border: 1px solid white; */
    /* background-color: black; */
    width: 90%;
    height: 95vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialContainer>div{
  cursor: pointer;
  transition: 0.2s ease-out;
}
.socialContainer>div:hover{
  transform: scale(1.2);
  transition: 0.2s ease-in;
}