/* Hero Container */

.hero_parent {
  height: 100vh;
  /* position: relative; */
  
  left: 0;
  right: 0;
  background: rgb(98, 4, 250);
  background: linear-gradient(
    140deg,
    rgba(98, 4, 250, 1) 14%,
    rgba(253, 29, 29, 1) 62%,
    rgba(252, 176, 69, 1) 99%
  );
  margin: auto;
  display: flex;
  margin-top: -62px;
  justify-content: center;
  align-items: center;
}

.hero_container{
    /* border: 1px solid white; */
    /* background-color: black; */
    width: 95%;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
