.target_box{
    border-width: thin;
}
.target_box:hover{
    background: linear-gradient(
    140deg,
    rgba(98, 4, 250, 1) 14%,
    rgba(253, 29, 29, 1) 62%,
    rgba(252, 176, 69, 1) 99%
  );
  transition: 0.2s ease-out
}
.target_box:hover .target_image{
    scale: 0.93;
    transition: 0.2s ease-in
}
.active{
    border-width: thick;
    border: 2px solid black;
}
.hiding_container1{
    display: none;
}


@media screen and (min-width: 200px) and (max-width: 475px){
    .hiding_container2{
        display: none;
    }
    .hiding_container1{
        display: block;
    }
}