@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html {
  scroll-behaviour: smooth;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Fjalla One', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Oswald", sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
